Create 'd', a nested list that contains 5 other lists. The first list should contain the four string values: ID, Age, is_part_time, salary. The next 4 lists should contain date of types: int, int, boolean, int. For example [3, 35, False, 72000]. Populate these 4 remaining lists with your own made-up data.

In [169]:
d = [["ID","Age","is_part_time","salary"], [1, 20, True, 1000], [2, 30, False, 2000], [3, 40, True, 3000], [4, 50, False, 4000]]

Print your current working directory to the console.

In [170]:
import os 
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /Users/mujtabach2/Coding/Data Analysis Labs/Worksheet3

Using Python's csv module, write 'd' to disk as a csv file. Use the method writerows() to write the nested list structure.

In [171]:
import csv
with open('d.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerows(d)

Using pandas module, load the same csv file into 'd2', and print d2.

In [172]:
import pandas as pd
d2 = pd.read_csv('d.csv')
print(d2)

   ID  Age  is_part_time  salary
0   1   20          True    1000
1   2   30         False    2000
2   3   40          True    3000
3   4   50         False    4000

Create a Series 'd' containing 5 values, 0 through 4 inclusive, in increments of 1, with indexes 'a' through 'e', inclusive.

In [173]:
d = pd.Series(range(0,5,1),index=['a','b','c','d','e'])
print(d)

a    0
b    1
c    2
d    3
e    4
dtype: int64

Create a 'd2' containing 5 values, 5 through 9 inclusive, with indexes: a,b,c,d,z.

In [174]:
d2 = pd.Series(range(5,10), index=['a','b','c','d','z'])
print(d2)

a    5
b    6
c    7
d    8
z    9
dtype: int64

Arithmetically add d and d2, save in 'd3', and print d3 to the console. You should see two NaN values at the end of d3.

In [175]:
d3 = d2 + d
print(d3)

a     5.0
b     7.0
c     9.0
d    11.0
e     NaN
z     NaN
dtype: float64

Using a Panda's method, identify which values in d3 contain NaN. Using that information, print only those NaN values in d3 to console

In [176]:
nan_values = d3[d3.isna()]
print(nan_values)

e   NaN
z   NaN
dtype: float64

Pandas come with a few built-in DataFrame objects. Assign the following built-in DataFrame to variable 'd4': pd._testing.makeMixedDataFrame(). Print d4 to console.

In [177]:
d4 = pd._testing.makeMixedDataFrame()
print(d4)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [178]:
d4['greater'] = d4['A'] > 2
print(d4)

     A    B     C          D  greater
0  0.0  0.0  foo1 2009-01-01    False
1  1.0  1.0  foo2 2009-01-02    False
2  2.0  0.0  foo3 2009-01-05    False
3  3.0  1.0  foo4 2009-01-06     True
4  4.0  0.0  foo5 2009-01-07     True