In [63]:
import pandas as pd
import numpy as np
d = pd.DataFrame({'Mon': [68, 89, np.nan], 'Wed': [71, 93, 48], 'Fri': [66, 82, 104],
'Tue': [75, 97, 43], 'Thu': [62, np.nan, 89]}, index = ["day1","day2","day3"]).T

1. Reindex 'd' so row indices read chronologically, and include Sat and Sun. That is, "Mon", "Tue", ..., "Sat', "Sun", and the columns indices read day3, day2, day1. Print d to the console.

In [64]:
d = d.reindex(index=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"], columns=["day3", "day2", "day1"])

print(d)

      day3  day2  day1
Mon    NaN  89.0  68.0
Tue   43.0  97.0  75.0
Wed   48.0  93.0  71.0
Thu   89.0   NaN  62.0
Fri  104.0  82.0  66.0
Sat    NaN   NaN   NaN
Sun    NaN   NaN   NaN

2.Print to the console the following elements: Tuesday and Thursday, for days3 and days2.

In [65]:
print("Tuesday Day 3: ",d.loc["Tue","day3"])
print("Thursday Day 3: ",d.loc["Thu","day3"])
print("Tuesday Day 2: ",d.loc["Tue","day2"])
print("Thursday Day 2: ",d.loc["Thu","day2"])

Tuesday Day 3:  43.0
Thursday Day 3:  89.0
Tuesday Day 2:  97.0
Thursday Day 2:  nan

Using a single line of code, print the mean temperature for each day of the week to the console, rounding values to 3 decimal places.

In [66]:
print(d.mean(axis=1).round(3))

Mon    78.500
Tue    71.667
Wed    70.667
Thu    75.500
Fri    84.000
Sat       NaN
Sun       NaN
dtype: float64

The next two questions will use GroupBy operations, and will use the following CSV - https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv. Load this data into 'd' with pd.read_csv().  This data describes Fuel economy data from 1999 to 2008 for 38 popular models of cars.

In [67]:
d = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/ggplot2/mpg.csv")
print(d.head())

   rownames manufacturer model  displ  year  cyl       trans drv  cty  hwy fl  \
0         1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p
1         2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p
2         3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p
3         4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p
4         5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p

     class
0  compact
1  compact
2  compact
3  compact
4  compact

In [68]:
print(d.groupby("manufacturer")["cty"].mean())

manufacturer
audi          17.611111
chevrolet     15.000000
dodge         13.135135
ford          14.000000
honda         24.444444
hyundai       18.642857
jeep          13.500000
land rover    11.500000
lincoln       11.333333
mercury       13.250000
nissan        18.076923
pontiac       17.000000
subaru        19.285714
toyota        18.529412
volkswagen    20.925926
Name: cty, dtype: float64

In [69]:
grouped = d.groupby(["cyl", "drv"]).size()
grouped.unstack()

drv     4     f     r
cyl
4    23.0  58.0   NaN
5     NaN   4.0   NaN
6    32.0  43.0   4.0
8    48.0   1.0  21.0